<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="Data Source=SG2NWPLS19SQL-v09.mssql.shr.prod.sin2.secureserver.net; Initial Catalog=AirIQVendorAPI; User ID=AirIQVendorAPI;Password=tM1050iie;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

</configuration>